<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>MemoApp | Edit</title>
</head>
<body>
	<h1>メモアプリ</h1>
	<a href="/memos">< 一覧</a>
		<form action="" method="get" class="form">
			<div class="form-title">
				<label for="title">タイトル</label>
				<p>
					<input type="text" name="title" id="title" required>
				</p>
			<div class="form-content">
				<label for="content">内容</label>
				<p>
					<input type="text" name="content" id="content" required>
				</p>
			</div>
		</form>
		<button class="change" type="button" onclick="location.href='/memos'">変更</button>
</body>
</html>
