<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>MemoApp | Top</title>
</head>
<body>
	<h1>メモアプリ</h1>
	<a href="/memos/new">追加</a>
		<ul>
			<% if @memos == nil %>
					<%= @memos %>
			<% else %>
				<% @memos.each do |memo|  %>
					<% if memo.empty? %>
						<% nil %>
					<% else %>
						<li>
							<a href=<%= "/memos/#{memo["memo_id"]}" %> ><%= memo["title"] %></a>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>
</body>
</html>
