<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>MemoApp | New</title>
</head>
<body>
	<h1>メモアプリ</h1>
	<a href="/memos">< 一覧</a>
		<form action="/" method="POST" class="form">
			<div>
				タイトル<br>
				<input type="text" name="title" id="title" required>
			</div>
			<div>
				内容<br>
				<input type="text" name="content" id="content" required>
			</div>
			<div>
		    <input type="submit" value="保存">
			</div>
		</form>
</body>
</html>
