<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>MemoApp | Show</title>
</head>
<body>
	<h1>メモアプリ</h1>
	<a href="/memos">< 一覧</a>
	  <div>
			<p><%= @title %></p>
			<p><%= @content %></p>
		</div>
		<div>
			<form method="GET" action=<%= "/memos/#{@memo_id}/edit" %>>
				<input type="submit" value="編集">
			</form>
			<form method="POST" action=<%= "/memos/#{@memo_id}" %>>
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="削除">
			</form>
		</div>
</body>
</html>
